APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:OWT7DWLO8X+oxpkNjTYtfvxnwY6DJxEeG6/97rL8M+s=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=coolify.yetoocloud.com
DB_PORT=3306
DB_DATABASE=weddreamv2_db
DB_USERNAME=weddreamv2
DB_PASSWORD=Td?70l9/$5SwsXV

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
